In [6]:
# 현대 포트폴리오 이론 : 투자에 대한 수익과 위험은 평균과 분산으로
# 나타낼 수 있으며, 상관관계가 낮은 자산을 대상으로 분산 투자하면
# 위험을 감소시킬 수 있다는 이론이라는 뜻

# 상관계수가 1이면 분산투자의 의미가 없으며
# 상관계수가 -1이면 완벽하게 모든 리스크가 제거된다는 말


# 실제로 파이썬에서 상관관계가 어떻게 표시되는지 확인해보자
# 시리즈 3개를 생성한 뒤 이를 활용해 dataframe을 만든다

import pandas as pd
s1 = pd.Series([+10, -20, +30, -40, +50])
s2 = pd.Series([+1,   -2,  +3,  -4   +5])
s3 = pd.Series([-10, +20, -30, +40, -50])

df = pd.DataFrame({'S1' : s1, 'S2' : s2, 'S3' : s3})

df

   S1   S2  S3
0  10  1.0 -10
1 -20 -2.0  20
2  30  3.0 -30
3 -40  1.0  40
4  50  NaN -50

In [7]:
# dataframe에서 제공하는 corr() 함수를 이용해 각 시리즈 간의 
# 상관관계를 확인해보자

df.corr()

          S1        S2        S3
S1  1.000000  0.598059 -1.000000
S2  0.598059  1.000000 -0.598059
S3 -1.000000 -0.598059  1.000000