In [2]:
# 089 집합 특성 이해하기

'''
다음의 리스트가 있을 때 중복을 제거 해보자
'''

a = [1, 2, 1, 1, 2, 3, 4, 1, 5, 2, 1, 5]

b = list(set(a))

print(b)

[1, 2, 3, 4, 5]

In [9]:
# 090 집합 추가, 삭제하기

a = {'메이킷', '우진', '시은', '소피아'} # set의 초기화 방법임에 유의

print(a)
print(type(a))

a.add('하워드')
a.discard('소피아')

print(a)

{'시은', '메이킷', '우진', '소피아'}
<class 'set'>
{'하워드', '메이킷', '우진', '시은'}

In [14]:
# 091 집합으로 연산하기

'''
아래와 같은 집합이 있을 때에
연산작업을 수행해 보자
'''

hawaii = {'윤진', '시은', '우진'}
italia = {'형우', '윤진', '시은'}
dubai = {'시은', '우진', '메이킷'}

print("위 3곳 모두 여행 다녀온 사람은? ")
print(hawaii & italia & dubai) # A.intersection(B) 로도 사용 가능

print("하와이 또는 이탈리아 여행을 다녀온 사람은?")
print(hawaii | italia) # A.union(B) 로도 사용 가능

print("두바이 여행은 다녀왔고, 하와이와 이탈리아 여행 경험이 없는 사람은?")
print(dubai - hawaii - italia) # A.difference(B) 로도 사용 가능

위 3곳 모두 여행 다녀온 사람은?
{'시은'}
하와이 또는 이탈리아 여행을 다녀온 사람은?
{'우진', '윤진', '형우', '시은'}
두바이 여행은 다녀왔고, 하와이와 이탈리아 여행 경험이 없는 사람은?
{'메이킷'}

In [18]:
# 92 사용자 정의 함수

'''
1 이상인 숫자 n을 입력받아
1부터 n까지의 합을 구하는 함수를 작성
'''

def makit(n):
    if n < 1:
        print("올바른 숫자를 입력하세요")
    else:
        sum = 0
        for i in range(1, n+1):
            sum += i
        
        print(sum)

makit(10)
makit(100)

55
5050

In [20]:
# 093 함수 값 리턴하기

'''
두개의 자연수 n1, n2를 입력받고
n1 < n2 일때, 

n1부터 n2까지의 합을 리턴하는 함수 만들기
'''

def makit2(n1, n2):
    sum = 0
    while n1 <= n2:
        sum += n1
        n1 += 1
    return sum

n1 = int(input("첫번째 숫자를 입력하세요 : "))
n2 = int(input("두번째 숫자를 입력하세요 : "))

print(f"{n1} + ... + {n2} = {makit2(n1, n2)} 입니다")

1 + ... + 10 = 55 입니다